.modal-default-modal-default {
    width: 632px;
    height: 500px;
    box-sizing: border-box;
    filter: drop-shadow(0px 12px 16px -4px rgba(33, 33, 33, 0.1));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    text-align: left;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modal-default-rectangle-1x {
    height: 500px;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 29px;
    padding-left: 20px;
    padding-right: 25px;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 0px 1px rgba(245, 245, 245, 1) inset;
    box-shadow-width: 1px;
    gap: 310px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 12px;
  }
  
  .modal-default-frame-16421x {
    width: 583px;
    box-sizing: border-box;
    position: relative;
    gap: 370px;
    display: flex;
    align-items: center;
    padding-left: 0px;
    color: rgba(33, 33, 33, 1);
    font-weight: 700;
  }
  
  .modal-default-withdraw-funds {
    font-size: 24px;
    line-height: 1.5;
    height: 36px;
    width: 189px;
  }
  
  .modal-default-frame-16355x {
    width: 587px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
  }
  
  .modal-default-button-default {
    height: 46px;
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 255px;
    padding-right: 255px;
    background-color: rgba(21, 112, 239, 1);
    overflow: clip;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-top: 20px;
  }
  
  .modal-default-text {
    font-size: 16px;
    line-height: 1.4;
    height: 22px;
    width: 77px;
  }
  
  .modal-default-containing_box_2x {
    width: 587px;
    height: 254px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translate(calc(-50% + 1.5px), calc(-50% - 11.5px));
    font-weight: 400;
  }
  
  .modal-default-frame-16424x {
    width: 587px;
    box-sizing: border-box;
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-left: 0px;
  }
  
  .modal-default-frame-16353x {
    width: 587px;
    box-sizing: border-box;
    gap: 8px;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-left: 0px;
  }
  
  .modal-default-bank {
    font-size: 16px;
    line-height: 1.4;
    color: rgba(1, 42, 74, 1);
    height: 22px;
    width: 38px;
  }
  
  .modal-default-button-default-1 {
    width: 587px;
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 24px;
    background-color: white;
    box-shadow: 0px 0px 0px 1px rgba(152, 162, 179, 1) inset;
    box-shadow-width: 1px;
    overflow: clip;
    gap: 485px;
    display: flex;
    border-radius: 6px;
    color: rgba(152, 162, 179, 1);
  }
  
  .modal-default-text-1 {
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    width: 42px;
  }
  
  .modal-default-frame-16423x {
    width: 587px;
    box-sizing: border-box;
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-left: 0px;
  }
  
  .modal-default-frame-16350x {
    width: 587px;
    box-sizing: border-box;
    gap: 8px;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-left: 0px;
  }
  
  .modal-default-account-number {
    font-size: 16px;
    line-height: 1.4;
    color: rgba(1, 42, 74, 1);
    height: 22px;
    width: 130px;
  }
  
  .modal-default-button-default-2 {
    height: 44px;
    border-radius: 5px;
    color: rgba(16, 24, 40, 1);
    padding: 12px 44px 12px 51px;
    border-width: 1px;
    background: url('/src/Assets/Naira.png') no-repeat scroll 13px 10px;
  }
  
  .modal-default-text-2 {
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    width: 145px;
  }
  
  .modal-default-frame-16423x-1 {
    width: 587px;
    box-sizing: border-box;
    gap: 8px;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-left: 0px;
  }
  
  .modal-default-amount {
    font-size: 16px;
    line-height: 1.4;
    color: rgba(1, 42, 74, 1);
    height: 22px;
    width: 60px;
  }
  
  .modal-default-button-default-3 {
    width: 587px;
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 482px;
    background-color: white;
    box-shadow: 0px 0px 0px 1px rgba(152, 162, 179, 1) inset;
    box-shadow-width: 1px;
    overflow: clip;
    display: flex;
    align-items: center;
    border-radius: 6px;
    color: rgba(152, 162, 179, 1);
  }
  
  .modal-default-text-3 {
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    width: 89px;
  }
.modal-default-button-default2{
  width: 398px;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: white;
  overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border-color: rgba(21, 112, 239, 1);
  border-width: 15px;
  color: rgba(21, 112, 239, 1);
  font-weight: 600;

}

.modal-default-bank-select{
  height: 44px;
  border-radius: 5px;
  color: rgba(16, 24, 40, 1);
  padding-left: 5px;
  border-width: 1px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1a1a1a;
  color: rgba(16, 24, 40, 1);

}