.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #01051a;
    border-radius: 50%;
    margin-left: 43%;
    width: 38px;
    height: 38px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}


