@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* > * {
  font-family: "Poppins", cursive;
  font-family: "Nunito", sans-serif;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  /* outline: orange; */
}

.login_bg_image {
  display: flex;
  justify-content: center;
  /* align-content: center; */
  width: 100vw;
  height: 100vh;
  background-image: url("../../../public/images/img5.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  /* Center and scale the image nicely */
  background-position: center;
}

a {
  color: #917307;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

.login_h2 {
  font-size: 1.5em !important;
  font-weight: 600 !important;
}



.loginForm {
  align-self: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0 30px rgba(159, 164, 172, 0.538);
  padding: 2rem;
  max-width: 400px;
  width: 100vw;
  margin: 0.7em auto;
  background-color: white;
  gap: 1rem;
  padding-top: 4rem;
}


.loginForm > input,
.login_btn {
  border: 1px solid #e9e7e7;
  padding: 0.5em 1em;

  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.loginForm > input:focus {
  outline: none;
}

.loginForm > .login_btn {
  background-color: #292929;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

/* 
@media screen and (min-width: 860px) {
  .login_register .col_2 img {
    display: initial;
  }
} */
