
.login-container {
    width: 100%;
    height: 100vh
}

.form-box {
    display: flex;
    flex-direction: column;
    border: #FFFFFF solid 2px;
    background-color: #FFFFFF;
    width: 50%;
    height: 92%;
    margin: 2rem auto;
    padding: 32px;
    align-items: center;
    border-radius: 15px;
}

.login-container h2 {
    color: #012A4A;

    /*margin-bottom: 2rem;*/
}

.login-container label {
    margin: 0 auto 0 3rem;
}

.login-container input[type="text"] {
    width: 80%;
    height: 44px;
    border-radius: 5px;
    padding: 12px 44px 12px 44px;
    margin: 0 auto;
    background: url('/src/Assets/Icon.png') no-repeat scroll 16px 13px;
}

.login-container .password-input, .login-container .email {
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.input-group p {
    color: #012A4A;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}


.login-container input[type="password"] {
    width: 80%;
    height: 44px;
    border-radius: 5px;
    padding: 12px 44px;
    margin: 0 auto;
    /*margin: 8px auto 0 auto;*/
    background: url('/src/Assets/Iconkey.png') no-repeat scroll 16px 11px;
}

.forgot-link {
    margin-left: 3.3rem;
}

.forgot-link .forgot-password {
    color: #1570EF;
    font-weight: 400;
    line-height: 20px;
}

.error {
    color: red;
    font-size: 13px;
    margin-bottom: 2px;
    margin-left: 3.0rem;
}

.login-container button {
    padding: 4px 16px;
    width: 100%;
    height: 44px;
    background: #1570EF;
    border-radius: 6px;
    color: #FFFFFF;
    margin: 24px auto 0 auto;
    font-size: medium;
}

.login-button {
    margin: 0 auto;
    width: 80%;

}

.login-button p {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #101828;
}

.create-account-link {
    margin-left: 5px;
    color: #1570EF;
}

.spinner {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}




