:root{
    --primary600 : #2f80ed;
    --primary50 : #e3f1ff;
    --ligh-border-color : #ced4da;
    --light-blue-color: #E3F1FF;
    --neutra-700 : #404040;
    --primary100 : #bcdcff;
    --primary-color-green : #27ae60;
    --primary-color-grey : #828282;

}