HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

src/main/resources/application-tosin.yaml
src/main/resources/application-idris.yaml
src/main/resources/application-israel.yaml


src/main/resources/application-esther.yaml
src/main/resources/application-okiki.yaml
src/main/resources/application-chinaza.yaml
src/main/resources/application-samuel.yaml
src/main/resources/application-binde.yaml
src/main/resources/application-idowu.yaml

### VS Code ###
.vscode/













