body{
  margin:0px
}
*{
  font-family:sans-serif;
  line-height: 1.5;
  color: #475467;
  font-size: 16px;

}
.mainTwo{
  background-color: rgba(45, 0, 247, 0.03) !important;
}

.contenth1{
  font-size: 25px;
  margin:0px
}
.contenth2{
  font-size: 40px;
}
.conte{
  font-size: 16px !important;
  line-height: 1.8;
}
.fixed-header{
  position: fixed;
  top: 0px;
  transition-duration: 1s ;
}
.mainContent{
  width:100% !important;
  height:700px !important;
  background:#1E1984;
  display: flex;
  justify-content: center !important;
}