@page "/"    
<PageTitle>Welcome Home</PageTitle>

<!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-10 mx-auto">
                  <div class="detail-box">
                    <h1>
                      E-FARM <br>
                      E-COMMERCE  <br>
                      SERVICES
                    </h1>
                    <div class="btn-box">
                      <a href="/shop" class="btn2">
                        Shop Here
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-10 mx-auto">
                  <div class="detail-box">
                    <h1>
                      E-FARM <br>
                      BUY BEST <br>
                      QUANITY PRODUCT
                    </h1>
                    <div class="btn-box">
                      <a href="/shop" class="btn2">
                        Shop Here
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-10 mx-auto">
                  <div class="detail-box">
                    <h1>
                      E-FARM <br>
                      QUANTITY SERVICES <br>
                      
                    </h1>
                    <div class="btn-box">
                      <a href="/farm" class="btn2">
                        Shop Here
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1" ></li>
          <li data-target="#customCarousel1" data-slide-to="2" ></li>
        </ol>
      </div>
</div>
    </section>
    <!-- end slider section -->


    <!-- about section -->

  <section class="about_section">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              EFarm is an innovative e-commerce project driven by a dynamic team: Ben Asmah, Pius Owolabi, and Innocent Udo. We leverage Blazor, a Microsoft technology that uses C# for web UIs. Our front-end stack includes HTML, CSS, JavaScript, and Bootstrap, enabling us to create engaging, responsive, and interactive online experiences for farm-fresh shopping. All
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/about-img.jpg" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- client section -->
  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Team Members
        </h2>
      </div>
    </div>
    <div id="customCarousel2" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="images/ben.jpg" alt="">
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>
                          <a href="https://github.com/drbenasmah">Ben Asmah</a>
                        </h5>
                        <h6>
                          Frontend
                        </h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                      Medical Doctor <br>
                      ALX Software engineering Student Cohort 11 (Nov 2022 - Nov 2023)
                      Studying this to move on to become a blockchain developer <br>
                      Looking forward to building healthcare systems on the blockchain <br>
                      Looking forward to be a household name in Healthcare Blockchain in Africa
                      #CantStopWontStop
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="images/innocent.jpg" alt="">
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>
                          <a href="https://github.com/Innocentsax">Innocent Udo</a>
                        </h5>
                        <h6>
                          Frontend
                        </h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                      Software Engineer - Java | Spring | SpringBoot | Hibernate | MySql | PostgresQL | REST API | Agile(AGCP) | TeamWork | Effective Communication | Leadership
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="images/pius.jpeg" alt="">
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>
                          <a href="https://github.com/opius2017">Owolabi Pius</a> 
                        </h5>
                        <h6>
                          Backend
                        </h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                      I'm a self-motivated developer proficient in C#, C-Programming, Cybersecurity, Network defence, DevOps, Bash Scripting, Python, Javascript and I contribute to OSS. With a mission-driven attitude. I strongly believe that technology, when harnessed correctly, has the power to benefit both people and the planet.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#customCarousel2" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel2" data-slide-to="1"></li>
        <li data-target="#customCarousel2" data-slide-to="2"></li>
      </ol>
    </div>
  </section>
  <!-- end client section -->




  


  <!-- footer section
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">ALX Africa</a>
      </p>
    </div>
  </footer>
footer section -->
