.confirm-order {
  padding-top: 100px;
}

.confirm-order h3 {
  padding-top: 20px;
}

.confirm-order-inner {
  padding-left: 50px;
}

.order {
  border-bottom: 2px solid whitesmoke !important;
}

.confirm-totals {
  text-align: right;
  font-size: 15px !important;
}

.payment-button {
  display: block;
  background-color: #ec3c65;
  color: #fff;
  font-size: 25px;
  padding: 15px 30px 15px 30px;
}
