.favourites-container {
    margin-top: 96px !important;
}

.myfavourites-title {
    font-weight: 200;
    font-size: 24px;
   line-height: 18px;
    letter-spacing: 0.2px;
    color: #000000;
    margin-bottom: 32px;
    margin-top: 30px !important;

}

.favourite-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #000000;
    padding-top: 40px;
    margin-bottom: 30px;
}


.favourite-image {
    padding-top: 31px;
    padding-left: 10px;
}
.favourite-size {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #686868;
    margin-top: -10px;
}


.favourite-times-remove {
    display: inline-block !important;
    letter-spacing: 0px !important;
}

.acc {
    margin-top: 0px !important;
}

// .account-active {
//     background-image: url("http://localhost:3000/images/account-hover.png") !important;
// }

.acc-dashboard {
    padding-bottom: 51px !important;
}