.success-container img {
  width: 100%;
}
.success-container h1 {
  color: green;
}

.success-class {
  background-color: #ec3c5f;
  color: #fff;
  font-size: 25px;
  border-radius: 40px;
  padding: 15px 50px 15px 50px;
}
