.product_section{
    margin: auto ;
    margin-top:100px ;
    margin-bottom: 50px;
    background-color: #203492;
    line-height: 1.5;
    padding:40px;
}
.product_section2{
    margin: auto ;
    height: auto;
    width: 95%;
    margin-top:100px ;
    margin-bottom: 50px;
    
}
.product_header{
    color: white;
    font-size: 6rem;
    font-weight: 800;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    margin-top: 15px;
}
.product_paragraph{
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    margin-bottom: 50px;
}
.product_container{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding: 0 8% 40px 8%;
}
.products{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 29%;
    margin-top: 60px;
    background-color: white;
    box-shadow: rgb(0, 0, 0, 0.1) 0px 3px 8px;
    padding-bottom:5px;
    border-radius: 10px;
    height: 600px;
}
.product_photo, .product_photo1, .product_photo2{
    width: 100%;
    height: 400px;
    background-size: cover;
    border-radius: 10px 10px  0 0;
}

.product_photo{
    background-image: url('https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zml0bmVzc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    background-size:cover;
    background-repeat: no-repeat;
}
.product_photo1{
    background-image: url('https://images.unsplash.com/photo-1550345332-09e3ac987658?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Zml0bmVzc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-repeat: no-repeat;
}
.product_photo2{
    background-image: url('https://images.unsplash.com/photo-1548690312-e3b507d8c110?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGd5bXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-repeat: no-repeat;
}
.products .title{
    text-transform: capitalize;
    color: white;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.product_title_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}
.colour_time{
    color: #203492;
    font-family: 'Ubuntu', sans-serif;
}
.colour_free{
    color: #ffc3b6;
    font-family: 'Permanent Marker', cursive;
}
.product_name{
    font-size: 1.5rem;
    padding: 0 20px;
}
.name_product{
    color: #203492;
    font-family: 'Ubuntu', sans-serif;
}
.product_train{
    padding: 0 20px;
    padding-bottom: 10px;
}
.product_train:hover{
    padding-left: 5px;
    transition: all 0.5s  ease-in;
}
.space{
    height: 50px;
}
.title,
.description{
    padding:10px ;


}
.view_all{
    background-color: white;
    color: #203492;
    text-transform: capitalize;
    width: 180px;
    height: 55px;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    transition: .4s ease;
    margin-left: 15px;
    bottom: 5px;
    right: 50;
    text-align: center;
    padding:20px 30px;
}
.view_all:hover{
    background-color: #203492;
    color: white;
    border: 2px solid white;
}
.product_section3{
    margin: auto ;
    margin-top:100px ;
    margin-bottom: 50px;
    background-color: white;
    line-height: 1.5;
    padding:40px;
}
.product_header2{
    color: #203492;
    font-size: 6rem;
    font-weight: 800;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    margin-top: 15px;
}
.product_section4{
    margin: auto ;
    height: auto;
    width: 100%;
    background-color: #203492;
    margin-top:100px ;
    margin-bottom: 50px;
}
.products .title2{
    color: white;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product_paragraph2{
    color: #203492;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    margin-bottom: 50px;
}
.view_all2{
    background-color: #203492;
    color: white;
    text-transform: capitalize;
    width: 180px;
    height: 55px;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    transition: .4s ease;
    margin-left: 15px;
    bottom: 5px;
    right: 50;
    text-align: center;
    padding:20px 30px;
}
.view_all2:hover{
    background-color: white;
    color: #203492;
    border: 2px solid #203492;
}



@media screen and (max-width:767px){
    .product_container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }
    .products{
    
        width: 100%;
       
    }

    
}